<h2><%= @list.title %></h2>
<p><%= @list.list_type %></p>


<% @list.items.each do |item| %>
    <form action="/remove_item" method="post">
        <h3><%= item.title %></h3>
        <p><%= item.description %></p>
        <input type="submit" value="Delete Item">
        <input type="hidden" value="<%= item.id %>" name="item">
        <input type="hidden" name="test" value="<%= @list.id %>">
    </form>

<% end %>



<p>Add item</p>

<form action="/new_item" method="post">
    <label>Item Title:</label>
    <input type="text" name="items[title]">
    <br>
    <label>Item Description:</label>
    <input type="text" name="items[description]">
    <input type="hidden" name="test" value="<%= @list.id %>">
<br>
    <input type="submit">
</form>

<a href="/">Back to List of Lists</a>
<form action="/delete_list/<%=@list.id%>" method="post">
    <input type="submit" value="Delete List">
</form>
